.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
outputs/*
!outputs/.gitkeep
!outputs/final/
outputs/final/*
!outputs/final/*.csv
!outputs/final/*.json
SEU_PRML_Project_Template/*.aux
SEU_PRML_Project_Template/*.bbl
SEU_PRML_Project_Template/*.blg
SEU_PRML_Project_Template/*.fdb_latexmk
SEU_PRML_Project_Template/*.fls
SEU_PRML_Project_Template/*.log
SEU_PRML_Project_Template/*.out
SEU_PRML_Project_Template/*.toc
SEU_PRML_Project_Template/*.xdv
